@import "tailwindcss";

@theme {
    --color-brand-facebook: #4267b2;
    --color-brand-instagram: #c13584;
    --color-brand-twitter: #1da1f2;
    --color-blue: #4c7bf3;
    --color-blue-light: #b8c7ed;
    --color-blue-lighter: #c2d3ff;
    --color-blue-dark: #15202a;
    --color-grey: #969696;
    --color-red: #ff5466;
    --font-libre-franklin: "Libre Franklin";
    --text-base-dynamic: max(1vw, 16px);
    --text-xxs: 10px;

    --button-bg-color: var(--color-blue);
    --button-border-radius: 28px;
    --button-color: var(--color-white);
    --button-drop-shadow: 0px 5px 10px --alpha(var(--color-blue) / 23%);
    --button-font-weight: semibold;
    --button-padding: 12px;
    --button-bg-color-reverse: var(--color-white);
    --button-color-reverse: var(--color-blue);
    --button-hover-bg-color: --alpha(var(--button-bg-color) / 80%);
    --button-padding-desktop: 16px 20px;

    --input-border: 1px solid var(--color-blue-lighter);
    --input-border-radius: 28px;
    --input-color: var(--color-blue-dark);
    --input-font-size: 12px;
    --input-padding: 10px 32px;
    --input-font-size-desktop: 16px;
    --input-padding-desktop: 15px 30px;

    --social-icon-border: 1px solid --alpha(var(--color-blue) / 15%);
    --social-icon-border-radius: 50%;
    --social-icon-height: 32px;
    --social-icon-width: 32px;
    --social-icon-height-desktop: 40px;
    --social-icon-width-desktop: 40px;
    --social-icon-hover-border: 1px solid var(--color-blue);

    --form-message-error-color: var(--color-red);
    --form-message-error-font-size: var(--text-xs);
    --form-message-error-font-style: italic;
    --form-message-error-padding-desktop: 0 0 0 30px;
    --form-input-error-border: 1px solid var(--color-red);
    --form-input-error-outline: none;
}

@layer components {
    .input {
        border: var(--input-border);
        border-radius: var(--input-border-radius);
        color: var(--input-color);
        font-size: var(--input-font-size);
        padding: var(--input-padding);

        @variant min-md {
            font-size: var(--input-font-size-desktop);
            padding: var(--input-padding-desktop);
        }
    }

    .button {
        background-color: var(--button-bg-color);
        border: var(--button-border);
        border-radius: var(--button-border-radius);
        color: var(--button-color);
        font-weight: var(--button-font-weight);
        padding: var(--button-padding);
        text-shadow: var(--button-text-shadow);

        @variant hover {
            background-color: var(--button-hover-bg-color);
            border: var(--button-hover-bg-border);
            cursor: pointer;
        }

        @variant min-md {
            padding: var(--button-padding-desktop);
        }
    }

    .social-icon {
        align-items: center;
        border: var(--social-icon-border);
        border-radius: var(--social-icon-border-radius);
        display: flex !important;
        height: var(--social-icon-height);
        justify-content: center;
        width: var(--social-icon-width);

        @variant hover {
            border: var(--social-icon-hover-border);
        }

        @variant min-md {
            height: var(--social-icon-height-desktop);
            width: var(--social-icon-width-desktop);
        }
    }

    input.error {
        border: var(--form-input-error-border);
        outline: var(--form-input-error-outline);
    }

    form label.error {
        color: var(--form-message-error-color);
        font-size: var(--form-message-error-font-size);
        font-style: var(--form-message-error-font-style);
        padding: var(--form-message-error-padding);

        @variant min-md {
            padding: var(--form-message-error-padding-desktop);
        }
    }
}

@utility button-* {
    background-color: --value(--button-bg-color- *);
    border: --value(--button-border- *);
    color: --value(--button-color- *);
    font-size: var(--button-font-size- *);

    @variant hover {
        background-color: --value(--button-hover-bg-color- *);
        border: --value(--button-hover-bg-border- *);
        color: --value(--button-hover-color- *);
        cursor: pointer;
    }
}
